* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h2 {
    font-size: 3rem;
}

p {
    font-size: 1.2rem;
}

.event-div {
    margin-bottom: 2vh;
    cursor: pointer;

}


.event {
    margin-bottom: 5px;

    display: flex;
    flex-direction: row;
    border-radius: 20px;

}

.left-side {
    flex: 9;
    display: flex;
    flex-direction: column;
}

.left-up {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.event-name {
    margin: 2%;
    margin-bottom: 0;
}

.left-up-right {
    display: flex;
    flex-direction: row;
    margin-right: 10%;
}

.date-time {
    margin: 0 4%;
    font-size: 1.4rem;
    white-space: nowrap;

}

.left-down {
    display: flex;
    flex-direction: row;
    margin: auto 0;
}

.group-counts {
    margin: 2%;
    padding: .5%;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 1.5rem;
}

.right-side {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1%;
}

.right-up {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media only screen and (min-width: 360px) and (max-width: 1199.98px) {
    .left-up {
        flex-direction: column;
    }

    .hide-when-small-resolution {
        display: none;
    }
    .left-up-right {
        margin: 10px;
    }

    .right-side {
        justify-content: center;
    }

    .date {
        margin-right: 20px;
    }

    .count-of-people {
        margin-bottom: 20px;
    }

    .count-of-people, .event-price {
        white-space: nowrap;
    }

    h2.event-name {
        font-size: 5rem;
    }
}