* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    height: 10vh;
}



.user-profile-photo {
    width: 6vw;
    height: 10vh;
    object-fit: cover;

    border-radius: 50%;
}

.profilPhoto {
    height: 8vh;
    width: auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2vh 0;
    padding: 0 3%;


}

.left-navbar {
    height: 7vh;
    width: auto;
    cursor: pointer;

}

.mid-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
}

.right-navbar {
    cursor: pointer;
    margin: 0;
    padding: 0;

}


.right-navbar:hover {
    opacity: .5;
}

.icon-and-text {
    height: 10vh;
    width: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-icon, .ohnik-icon {
    height: 5vh;
    width: auto;
}

.top-text, .ohnik-text {
    height: 3vh;
    margin: 0;
    font-size: 1.4rem;
    font-weight: bold;
}

.group-icon {
    height: 7vh;
    width: auto;
    cursor: pointer;
}

.login-or-registration {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    height: 13vh;
    width: auto;
}