* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

.all-event-web-div {
    height: 20vh;

    display: flex;
    flex-direction: row;
    align-items: center;

    border-radius: 20px;

    cursor: pointer;

    margin-bottom: 2rem;
}

.user-photo-in-div {
    height: 19vh;
    width: 15%;
    object-fit: cover;
    object-position: top;
    margin: 0 1%;
    overflow: hidden;

}

.left-event-name {
    flex: 2;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.5rem;
}

.mid-event-count-members {
    flex: 1;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-right: 2px solid #424242;
    border-left: 2px solid #424242;

}

.right-event-members {
    flex: 7;
    height: 7vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;

}

.group-custom-modal {
    width: 90%;
    margin: auto;
}