.user-card {
    margin: 3%;
    width: max(300px, 30%);
    
}

.user-card-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.user-photo {
    height: 40vh;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.user-ig-name {
    text-align: center;
}

.user-icon {
    font-size: 3vh;
}

.no-wrap {
    white-space: nowrap;
}