.group-slider {
    border: 2px solid red;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.group-slider-name {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100px;
    white-space: nowrap;
    background-color: lightblue; /* Example background color */
}

.group-slider-capacity {
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100px;
    white-space: nowrap;
    background-color: lightgreen; /* Example background color */
}
